.comment.clearfix
	.content
		%p=comment.comment
		%p=comment.user.email
	.buttons
		-if current_user == comment.user
			= link_to "Edit", edit_post_comment_path(comment.post, comment)
			= link_to "Delete", [comment.post, comment], method: :delete, data: {confirm: "Are you sure?"}
			= link_to "Reply"