/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	font-family: 'Lato', sans-serif;
	background-color: #c3d1d180;;

}


.wrapper {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	
 }
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after{
	clear: both;
}
 
.main_header {
	width: 80%; 	
	margin: 0 auto;
	background-color:white;
	padding: 32px 5%;
	border: solid 0.5px;
	#logo{
		float:left;
		a{
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: -1px;
			font-size: 24px;
			text-decoration: none;
			color:#326049;
		}
		

	}
	#buttons{
			float:right;
			a {
				line-height: 60px;
				background: #326049;
				padding: 8px 16px;
				border-radius: 3px;
				color:white;
				font-weight: 100;
				text-decoration: none;

			}
			
		

 }

}
 #posts {
	background-color:white;
	padding: 32px 5%;
	border-radius: 8px;
	color: #537979;
	.post{
		margin: 16px 0;
		padding: 16px 0;
		border-bottom: 1px solid #D1d1d1;
		.title{
			margin: 0;
							a{
				color: #326049;
				text-decoration: none;
				}
			}
		.date{
			margin-top: 2px;
			font-size: 12px;
			color: gray;
			
					}
				
		}
 }

 .button{
 	color: #326049;
	border: 1px solid #326049;
	padding: 8px 16px;
	border-radius: 3px;
	text-decoration: none;
	margin-right: 2%;
				
 }

#post_content {
	background: white;
	padding: 32px 5%;
	border-radius: 8px;
	h1{
		font-weight: 100;
		font-size: 32px;
		color: #537979;
		margin-top: 0;
	}
	p{
		color:#008080;
		font-size: 14px;
		font-weight: 100;
		line-height: 1.5;
	}
	#comments{
		.comment {
			border-bottom: 1px solid #D1d1d1;
			padding-bottom: 16px;
			margin-bottom: 16px;
			.content {
				width: 70%;
				float: left;
			}
			.buttons {
				width: 30%;
				float: left;
				font-size: 12px;
				text-align: right;
				padding-top: 24px;
				a {
					color: #326049;
					border: 1px solid #397cac;
					padding: 8px 16px;
					border-radius: 3px;
					text-decoration: none;
					margin-right: 2%;
				}

			}
			.comment_content{
				margin:0;
				padding: 0;
			}
			.comment_author {
				color: #397cac;
				margin-top: 8px;
				font-size: 9px;
				font-weight: 700; 
			}
		}
		input[type="submit"]{
			background: #326049;
			border:none;
			color: white;
			font-weight: 100;
			padding: 8px 16px;
			border-radius: 3px;
		}
		textarea{
			width: 100%;
			min-height: 200px;
			border: 1px solid #d1d1d1;
			border-radius: 3px;
			margin: 16px 0;
		}
	}
}
